h1 {
    margin-block-start: 40px;
}

h2 {
    margin-block-start: 30px;
    margin-block-end: 0;
}

.boards {
    display: flex;
}

.playerBoard {
    flex: 65%;
}

.opponentBoard {
    flex: 35%;
}

.patrollersAndHand {
    display: flex;
}

.playerHand {
    flex: 40%;
}

.cardOuterDiv {
    padding-top: 15px;
    transition: transform 500ms ease-in-out;
}

.cardInnerDiv {
    display: inline;
}

.cardMenu {
    display: inline;
    padding-inline-start: 20px;
}

.cardLI {
    display: inline;
    padding-left: 10px;
}

.cardAnimation-enter {
    opacity: 0.01;
}

.cardAnimation-enter.cardAnimation-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.cardAnimation-exit {
    opacity: 1;
}

.cardAnimation-exit.cardAnimation-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.patrollerName {
    display: inline;
}
.patrolSlot {
    padding-top: 15px;
}
.playerPatrollers {
    flex: 60%;
    padding-left: 20px;
}

.eventDescriptors {
    overflow: auto;
    overflow-y: auto;
    width: 80%;
    height: 75px;
    border-style: solid;
}
